html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Inter', sans-serif;
}

body .navbar {
  height: 90px;
  padding: 20px 50px;
}

body .navbar li {
  float: left;
  padding: 20px 2%;
}

body .navbar li a {
  font-size: 13px;
  line-height: 17px;
  color: #656565;
}

body .navbar h1 {
  float: left;
  font-style: normal;
  font-weight: bolder;
  font-size: 30px;
  color: #45BC27;
  padding: 10px 30px;
}

body .navbar span {
  font-size: 25px;
  margin: 20px 30px;
  float: right;
}

body .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 50px 10% 50px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

body .home .content {
  border-radius: 20px 300px 20px 20px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background: #45BC27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

body .home .content .container {
  display: block;
  margin: 15% 10%;
}

body .home .content .container h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #FFFFFF;
}

body .home .content .container h1 span {
  color: #00678F;
}

body .home .content .container h1 span:hover {
  font-size: 80px;
}

body .home .content .container h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

body .home .content .container p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #FFFFFF;
}

body .home .content .container a {
  display: inline-block;
  margin-top: 30px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 100px;
  background-color: #00678F;
  padding: 14px 40px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

body .home .content .container a:hover {
  background-color: #2b87ab;
}

body .home .content img {
  position: absolute;
  width: 50%;
  top: 240px;
  left: 45%;
  -webkit-filter: drop-shadow(4px 7px 6px rgba(0, 0, 0, 0.4));
          filter: drop-shadow(4px 7px 6px rgba(0, 0, 0, 0.4));
}

body main {
  display: block;
  margin: 0 50px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 10% 0;
}

body footer {
  border-radius: 100px 80px 0 0;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #00678F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .container {
  width: 70%;
}

body footer .container h1 {
  color: #FFFFFF;
  padding: 20px 0;
}

body footer .container .contact {
  background-color: #ffffff;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  border-radius: 18px;
}

body footer .container .contact img {
  margin: 0 7px;
  height: 22px;
  border-radius: 50px;
}

body footer .container .cp {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 2px solid #ffffff;
}

body footer .container .cp h1 {
  font-size: 26px;
  color: #45BC27;
  margin-right: 8%;
}

body footer .container .cp p {
  font-family: 'calibri';
  position: relative;
  top: 25px;
  color: #FFFFFF;
  font-size: 12px;
}

/*ABOUT*/

main .about {
  padding: 100px;
  height:  max-content;
}

.description {
  text-indent: 35px;
  text-align: justify;
  color: black;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  line-height: 25px;
  max-height: calc(25px * 8);
  overflow: hidden;
}

main .about .description li{
  margin-left: 20px;
  text-indent: 2px;
}

main .about h4 {
  color: #00678F;
  font-size:  22px;
  line-height: 45px;
}

main .about h1 span {
  color: #00678F;
}

main .about h1 span:hover {
  font-size: 35px;
}

.button-readmore::after {
  content:  'Read more..'
}

.button-readmore {
  color: #00678F;
  cursor: pointer;
}

.button-readmore:hover {
  color: #ccc;
}

#check-readmore:checked ~ .button-readmore::after {
  content: 'Read less..'
}

#check-readmore:checked ~ .description {
  max-height: 150vh;
}

#check-readmore {
  position: absolute;
  left:  -100px;
}

/*ABOUT*/

/*Roadmap*/
.contentss {
    margin-top: 100px;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    height: 700px;
}

.contentss img{
  height: 250px;
  width: 250px;
}

.opa{
  opacity: 0.8;
}

.opa:hover {
  opacity: 1;
}

.section-title {
  font-size: 28px;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.lesson {
  float: left;
  width: 33.33%;
}

.lesson-icon {
  position: relative;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

 .txt-contents:hover {
   color: black;
 }

  /* Tambahkan CSS untuk tags <input> dan <textarea> */
  input, textarea {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #dee7ec;
  }
  
  /* Tambahkan CSS untuk contact-submit */
  .contact-submit {
    background-color: #dee7ec;
    color: #889eab;
  }
/*Roadmap*/

/*# sourceMappingURL=style.css.map */
/*footer*/


footer .contact{
  padding: 50px;
}

footer .contact-item{
  float: left;
  margin-right: 70px;
}

footer .contact-item hr{
  border: solid;
}

footer .contact-list li {
  list-style: none;
  display: block;
  padding-top: 10px;
}

footer .contact-list li a{
  color: antiquewhite;
  display: inline;
}

footer .comment hr{
  border: solid;
}

footer .comment-text{
  width: 270px;
  font-size: 12px;
}

footer .comment-submit{
  width: 100px;
  font-size: 12px;
  font-family: Georgia;
  background-color:#dee7ec;
  color: #000;
}

footer .contact img{
  width: 50px;
  height: 50px;
}

footer .copyright{
  padding: 10px;
  background-color: black;
  text-align: center;
  font-family: Georgia;
}
